<center>
<div class="food-box">
    <div class="food-box-inner">
        <div class="food-box-front">
            <!-- Food Name-->
            <div class="food-name-box">
                <h2 class="food-title">
                    {{name}}
                </h2>
            </div>  
            <!-- Food Box Picture -->
            <div class="food-img-box"> 
                <img src={{img_url}} alt={{name}}>
            </div>
            <!-- Food Box Contents like info and cuisine-->
            <div class="food-info-box">
                <h3 class="food-score">
                    Health Score : {{health_score}}
                </h3>
                <h3 class="food-cuisine">
                    Cuisine Type : {{cuisine}}
                </h3>
            </div>
        </div>
        <div class="food-box-back">
            <h4 class="food-other-info">
                Description:  
            </h4>
            <p>yybuibuiybyrvtvuvtytvutvytyutvuttrxtexrexertxetrexxterxrbuioubiobuiobuio</p>
        </div>
    </div>
</div>
</center>