{{#section 'script'}}
    <script type="application/javascript" src="/results.js" charset="utf-8" defer></script>
{{/section}}

<main id="results-main-box">
    <h2 id="your-results">Your Results: Best Match</h2>
    <img src={{img_url}} alt={{name}}>
    <h3 class="food-name">{{name}}</h3>
    <p class="health-score-text">Average Health Score: {{health_score}}</p>
    <p class="cuisine-text">Most Liked Cuisine: {{cuisine}}</p>
    {{> recents}}
</main>