{{#section 'script'}}
    <script type="application/javascript" src="/results.js" charset="utf-8" defer></script>
{{/section}}

<main id="results-main-box">
    <div class="results-img-box">
        <img src={{img_url}} alt={{name}}>
    </div>
    <div class="results-info-box">
        <div class="results-header-box">
            <h2 id="results-title">Your Best Food Match Is:</h2>
            <h3 class="food-name-result">{{name}}</h3>
        </div>
        <div class="results-other-info-box">
            <p class="health-score-result">Average Health Score: {{health_score}}</p>
            <p class="cuisine-result">Most Liked Cuisine: {{cuisine}}</p>
        </div>
    </div>
    {{> recents}}
</main>